<p>Jobber enkelte dager i perioden.</p>

{{#each arbeidsforhold.arbeidIPeriode.enkeltdager as |enkeltdag|~}}
    <p>Dato: {{enkeltdag.dato}}, Normaltimer: {{enkeltdag.normalTimer}}, Faktisktimer: {{enkeltdag.faktiskTimer}}</p>
{{/each}}
