<p>Arbeider ulikt per uke i perioden.</p>

{{#each arbeidsforhold.arbeidIPeriode.arbeidsuker as |arbeidsuke|~}}
    <p>Uke {{arbeidsuke.uke}}: {{arbeidsuke.prosentAvNormalt}} prosent ({{arbeidsuke.timerPerUke}})</p>
{{/each}}
