<li class="li-style-none">
    <ul>
        <li class="sporsmalstekst">Arbeidsform: {{arbeidsforhold.arbeidsform}}</li>
        <li class="sporsmalstekst">Normaltimer per uke: {{arbeidsforhold.jobberNormaltTimer}}</li>
        {{#if arbeidsforhold.historiskArbeid}}
            <li class="li-style-none">
                <b>Historisk:</b>
                <ul>
                    {{> partial/arbeidIPeriodePartial arbeidIPeriode=arbeidsforhold.historiskArbeid jobberNormaltTimer=arbeidsforhold.jobberNormaltTimer}}
                </ul>
            </li>
        {{/if}}

        {{#if selvstendigNæringsdrivende.arbeidsforhold.planlagtArbeid}}
            <li class="li-style-none">
                <b>Planlagt:</b>
                <ul>
                    {{> partial/arbeidIPeriodePartial arbeidIPeriode=arbeidsforhold.planlagtArbeid jobberNormaltTimer=arbeidsforhold.jobberNormaltTimer}}
                </ul>
            </li>
        {{/if}}
    </ul>
</li>