<li class="li-style-none">
    <ul>
        <li class="sporsmalstekst">{{arbeidsforhold.jobberNormaltTimerTekst}}</li>
        {{#if arbeidsforhold.skalViseHistoriskArbeid}}
            {{#if arbeidsforhold.historiskArbeid}}
                <li class="li-style-none">
                    <b>Jobb tilbake i tid:</b>
                    <ul>
                        {{> partial/arbeidIPeriodePartial arbeidIPeriode=arbeidsforhold.historiskArbeid}}
                    </ul>
                </li>
            {{/if}}
        {{/if}}

        {{#if arbeidsforhold.skalVisePlanlagtArbeid}}
            {{#if arbeidsforhold.planlagtArbeid}}
                <li class="li-style-none">
                    <b>Jobb frem i tid:</b>
                    <ul>
                        {{> partial/arbeidIPeriodePartial arbeidIPeriode=arbeidsforhold.planlagtArbeid}}
                    </ul>
                </li>
            {{/if}}
        {{/if}}

    </ul>
</li>