<li class="li-style-none">
    <ul>
        <li class="sporsmalstekst">Jobber normalt {{arbeidsforhold.jobberNormaltTimer}} timer</li>
            <li class="li-style-none">
                <ul>
                    {{> partial/arbeidIPeriodePartial arbeidIPeriode=arbeidsforhold.arbeidIPeriode}}
                </ul>
            </li>
    </ul>
</li>
