<li class="li-style-none">
    <ul>
        <li>
            {{#with arbeidsforhold.arbeidIPeriode}}
                {{#eq type "ARBEIDER_IKKE" }}
                    <p>Jobber ikke i perioden.</p>
                {{/eq}}
                {{#eq type "ARBEIDER_VANLIG" }}
                    <p>Jobber som normalt i perioden. Har ikke fravær fra jobb.</p>
                {{/eq}}
                {{#eq type "ARBEIDER_PROSENT_AV_NORMALT" }}
                    <p>Jobber {{arbeidsforhold.arbeidIPeriode.prosentAvNormalt}} prosent av normalt i perioden.</p>
                {{/eq}}
                {{#eq type "ARBEIDER_TIMER_I_SNITT_PER_UKE" }}
                    <p>Jobber {{arbeidsforhold.arbeidIPeriode.timerPerUke}} hver uke.</p>
                {{/eq}}
                {{#eq type "ARBEIDER_ULIKE_UKER_TIMER" }}
                    {{> partial/arbeid/arbeidIPeriode/arbeidsukerPartial}}
                {{/eq}}
            {{/with}}
        </li>
    </ul>
</li>
